@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
.red {
   color: blue;
}
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Open Sans", sans-serif;
   transition: 0.3s ease;
}

:root {
   --PrimaryColor: hsl(174, 62%, 25%);
   --HoverColor: hsl(174, 62%, 22%);
   --whiteColor: hsl(0, 0%, 100%);
   --blackColor: hsl(0, 0%, 0%);
   --textColor: hsl(174, 5%, 48%);
   --whiteColorDeam: hsl(0, 0%, 93%);
   --greyBg: hsl(0, 0%, 96%);
   --greyText: rgb(190, 190, 190);
   --inputColor: hsl(174, 15%, 97%);
}

a {
   text-decoration: none;
}

li {
   list-style: none;
}

.section {
   padding: 1rem 0 2rem;
}
.container {
   padding-left: 1.5rem;
   padding-right: 1.5rem;
}

.icon {
   font-size: 2rem;
   cursor: pointer;
}

.flex {
   display: flex;
   align-items: center;
}

.grid {
   display: grid;
   align-items: center;
}

.btn {
   padding: 0.4rem 1.5rem;
   background: var(--PrimaryColor);
   border: none;
   outline: none;
   border-radius: 3rem;
   cursor: pointer;
}

.btn a {
   color: var(--whiteColor);
   font-weight: 500;
}

.btn:hover a {
   color: var(--whiteColor);
}

.secIntro {
   max-width: 70%;
   text-align: center;
   margin: 0 auto 2rem;
}

.secIntro .secTitle {
   color: var(--blackColor);
   line-height: 1.5rem;
   padding-bottom: 0.5rem;
}

.secIntro p {
   font-size: 13px;
   color: var(--textColor);
   font-weight: 500;
}

img,
video {
   width: 100%;
   height: auto;
}

input {
   font-size: 100%;
}

/*! CSS Used from: http://127.0.0.1:5500/css/responsive.css */
.submit1 {
   padding-top: 10px;
   padding-bottom: 10px;
   padding: 10px 11px 10px 15px;
   padding-left: 15px;
   padding-right: 15px;
   background: var(--PrimaryColor);
   font-weight: 700;
   display: flex;
   align-items: center;
   border-radius: 8px;
   justify-content: center;
   color: rgb(255, 255, 255);
   cursor: pointer;
}

/*! CSS Used from: http://127.0.0.1:5500/css/framework.css */
* {
   box-sizing: border-box;
}
:not(:has(*)):not(:empty) {
   white-space: break-spaces;
}

.textNormal {
   font-size: 12px;
}

.heading1text {
   line-height: 24px;
   font-weight: 700;
}

.header1 {
   display: flex;
   flex-direction: column;
}

.heading1Text {
   line-height: 24px;
   font-weight: 700;
}

.buttonPrimary1 {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 12px;
   padding-left: 12px;
   background: var(--PrimaryColor);
   font-weight: 400;
   color: rgb(253, 246, 246);
   display: flex;
   flex-direction: row;
   align-items: center;
   min-width: 69px;
   justify-content: center;
   border-radius: 8px;
}

.button1 {
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 12px;
   padding-left: 12px;
   background: rgb(255, 255, 255);
   font-weight: 400;
   color: rgb(0, 0, 0);
   display: flex;
   flex-direction: row;
   align-items: center;
   min-width: 69px;
   justify-content: center;
   border-radius: 8px;
   border: 1px solid rgba(0, 0, 0, 1);
   cursor: pointer;
}

.flex-column {
   display: flex;
   flex-direction:column;
}

.bodyContentFlexRow {
   display: flex;
   row-gap: 10px;
   flex-direction: column;
   margin-bottom: 0px;
   padding-bottom: 125px;
}

.btn-plain {

   background: white;
   border: 1px solid #18675f;
   border-radius: 8px;
   color: #12524b;
   cursor: pointer;
   font-size: 0.8rem;
   margin-top: 0;
   margin-right: 2px;
   margin-bottom: 0;
   margin-left: 2px;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   text-align: center;

}

.btn-primary {
   background: #12524b;
   border: 1px solid #18675f;
   border-radius: 8px;
   color: white;
   cursor: pointer;
   font-size: 0.8rem;
   margin-top: 0;
   margin-right: 2px;
   margin-bottom: 0;
   margin-left: 2px;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   text-align: center;
}

.btn-danger {
   background: #c94437;
   border-radius: 8px;
   color: white;
   cursor: pointer;
   font-size: 0.8rem;
   margin-top: 0;
   margin-right: 2px;
   margin-bottom: 0;
   margin-left: 2px;
   padding-top: 10px;
   padding-right: 10px;
   padding-bottom: 10px;
   padding-left: 10px;
   text-align: center;
}

.text-bold{
   font-weight: 700;
}
